 .Main {
   min-width: 100%; 
   min-height: 100%;
 }
 
 .body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #e8eaf6;
 }
 
